
.page{
    background-color:rgb(199, 232, 221);
}

.title{
    color:brown;
    font-size: 60px;
    margin: 0;
    padding: 0;
}

.toplogo{
    margin-top: 5px;
}

.flaglogo{
    margin-top: 23px;
}

.navigationbar{
    border-radius: 20px;
    font-size:30px;
    text-align: center;
    color:white;
    background-color: navy;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#logout{
    /* font-size: 22px; */
    height: 40px;
    margin-top: 2.5px;
}

#btnColor{
    color: white;
}


.statemenu{
    align-items: center;
    font-size: 19px;
    border: 1px solid black;
    margin-left: 275px;
    margin-right: 275px;
    margin-top: 30px;
    margin-bottom: 111px;
    padding: 10px;
}

.button1{
    width: 170px;
    font-size: 20px;
}
